# Series -> 1D

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = np.array(["a","b","c","d"])
data

In [ ]:
s = pd.Series(data, index=[100,200,300,400])
s

# Data Frame -> 2D

In [ ]:
data = [["sam","20"],["Ram","30"],["Jhon","40"]]
data

In [ ]:
df = pd.DataFrame(data,columns=["Name","Age"],
                  index=["row1","row2","row3"])
df

In [ ]:
# Create a Data Frame using Dictionary of Series
a = pd.Series([1,2,3],index=["a","b","c"])
b = pd.Series([1,2,3,4],index=["a","b","c","d"])
d = {"one":a,"two":b}
df=pd.DataFrame(d)
df

In [ ]:
# write a program in python create to add the first two column into the new col
a = pd.Series([1,2,3],index=["a","b","c"])
b = pd.Series([1,2,3,4],index=["a","b","c","d"])
c = a+b
d = {"one":a,"two":b,"total":c}
df=pd.DataFrame(d)
df

In [ ]:
#Write a program to add the fourth key and delete the second key after that in the same dictionary.Print the output of both the operation separately.
a = pd.Series([1,2,3],index=["a","b","c"])
b = pd.Series([1,2,3,4],index=["a","b","c","d"])
c = a+b
d = {"one":a,"two":b,"total":c}
d["fourth"] = a*b
df=pd.DataFrame(d)
df
d.pop("two")
df=pd.DataFrame(d)
df

In [ ]:
df

In [ ]:
# 19-10-2020

# Locating the element

In [ ]:
a = pd.Series([1,2,3],index=["a","b","c"])
b = pd.Series([1,2,3,4],index=["a","b","c","d"])
c = a+b
d = {"one":a,"two":b,"total":c}
d["fourth"] = a*b
df=pd.DataFrame(d)

In [ ]:
#loc
df.loc["b"]

In [ ]:
#iloc
df.iloc[2]

In [ ]:
#access the element in specified range 
df[2:4]

# Adding two rows in the dataframe

In [ ]:
import pandas as pd

In [ ]:
df1=pd.DataFrame([[1,2],[3,4]],columns = ["a","b"])
df2=pd.DataFrame([[5,6],[7,8]],columns = ["a","b"])

In [ ]:
df = df1.append(df2)
df=df.drop(0)

In [ ]:
df

write a program for student array consisting of marks from different subject. Perform the operation of adding rows and columns in the dataframe

In [ ]:
import pandas as pd
m = [['Deep', 90, 70],['Dharita', 98, 75]]
df = pd.DataFrame(m, columns = ['Student' , 'Python', 'DS'], index=[1,2])
print(df)
df1 = df.append(pd.Series(['Amee',97,89], index=df.columns ),ignore_index=True)
print(df1)

# Total Marks
df.sum(1)

In [ ]:
df.sum(1)

In [ ]:
a = np.array([22,25,30,28,26])
b = np.array([21,18,20,27,29])

dic = {"python":a,"maths":b}
dic['add']= a+b
add_a = 0

for i in (a):
    add_a = add_a + i
    add_b =0
for i in (b):
    add_b = add_b + i

L=[add_a,add_b,0,0,0]
dic['coladd']=L
df = pd.DataFrame(dic)
print(df)
loc = df.iloc[:,3]
print(loc)

### 20-10-2020
# Operations on CSV file

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("sample.csv")
df

In [ ]:
# converting df into csv
data = [["Ram",10],["Shyam",20],["Ganshyam",30]]
df = pd.DataFrame(data,columns = ["Name","Age"])
df.to_csv("demo.csv")

In [ ]:
df = pd.read_csv("demo.csv")
df

In [ ]:
# write a program to create student dataset by
#using dataframe and convert it to csv

df = pd.DataFrame({'Name': ['Deep', 'Amee'],
                   'Marks': ['99', '98'],
                   'Field': ['ML & AI', 'Medical']})
df.to_csv("student.csv")

In [ ]:
df = pd.read_csv("student.csv")
print (df)

In [ ]:
# wap for converting nested dictionary df into csv file
df     =pd.DataFrame( { 'Deep': { 'Age' : 21, 'Gender' : "Male", 'Role' : 'student' },
           'Amee': { 'Age' : 20, 'Gender' : "Female", 'Role' : 'Student' } })
df.to_csv("std.csv")

In [ ]:
df = pd.read_csv("std.csv")
print (df)

In [4]:
#random operations on csv file
import pandas as pd
df = pd.read_csv("sample.csv")
d = df['statecode']
df.pop("statecode")
df["new"] = df["point_granularity"] +1
df.shape
df["tiv_11_12"] = df["tiv_2011"] + df["tiv_2012"]

In [ ]:
df.append(d)

In [5]:
df.head()

,policyID,county,eq_site_limit,hu_site_limit,fl_site_limit,fr_site_limit,tiv_2011,tiv_2012,eq_site_deductible,hu_site_deductible,fl_site_deductible,fr_site_deductible,point_latitude,point_longitude,line,construction,point_granularity,new,tiv_11_12
0,119736,CLAY COUNTY,498960.0,498960.00,498960.0,498960.0,498960.00,792148.90,0.0,9979.2,0.0,0,30.102261,-81.711777,Residential,Masonry,1,2,1291108.90
1,448094,CLAY COUNTY,1322376.3,1322376.30,1322376.3,1322376.3,1322376.30,1438163.57,0.0,0.0,0.0,0,30.063936,-81.707664,Residential,Masonry,3,4,2760539.87
2,206893,CLAY COUNTY,190724.4,190724.40,190724.4,190724.4,190724.40,192476.78,0.0,0.0,0.0,0,30.089579,-81.700455,Residential,Wood,1,2,383201.18
3,333743,CLAY COUNTY,0.0,79520.76,0.0,0.0,79520.76,86854.48,0.0,0.0,0.0,0,30.063236,-81.707703,Residential,Wood,3,4,166375.24
4,172534,CLAY COUNTY,0.0,254281.50,0.0,254281.5,254281.50,246144.49,0.0,0.0,0.0,0,30.060614,-81.702675,Residential,Wood,1,2,500425.99

In [3]:
df["new"] = df["point_granularity"] +1